* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: rgb(250, 241, 207);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  font-family: "Spline Sans", sans-serif;
  font-size: 18px;
  }
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  
}
img {
   border-radius: 25%;
  width: 15%;
  height: 15%;
  margin: 20px;
}
.section-name {
  text-align: center;
  line-height: 3px;
  font-size: 22px;
  color: blue;
}
.section-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: darkblue;
}
.container-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  margin: 0px;
}
.year {
  background: rgb(240, 224, 159);
  display: flex;
  flex: 0.1;
}
.login {
  background: rgb(240, 224, 159);
  display: flex;
  flex: 1.2;
}
.href {
  background: rgb(240, 224, 159);
  display: flex;
  flex: 0.1;
}
.rss {
  width: 78px;
  height: 28px;
  background: rgb(240, 224, 159);
  background-image: url("./assets/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.container-footer > div {
  font-size: 1vw;
  padding: 0.5em;
  color: rgb(119, 111, 111);
}
